<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found: 404</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <header>
      <span>
        <h1>
          <strong>ToDoApp</strong>
        </h1>
      </span>
      <span>
        <h1>
          <strong>404 Error</strong>
        </h1>
      </span>
      <span>
        <h2>
          <strong>We could not find what you were looking for.</strong>
        </h2>
      </span>
      <span>
        <span>
          <p>Could not find `<i>{{ message }}</i>'</p>
        </span>
      </span>
    </header>
    <section>
      <span>
        <h2>Reason:</h2>
      </span>
      <span>
        <ul>
          <li>
            <p>This can be due to mispelling a word incorrectly in a search.</p>
          </li>
          <li>
            <p>
              Or it can be due to the information that you wish to access does
              not exist.
            </p>
          </li>
        </ul>
      </span>
    </section>

    <section>
      <span>
        <h2>
          <strong>What to do next?</strong>
        </h2>
      </span>
      <span>
        <p>
          You can try again by simply returning back to the previous page. To
          return back to the previous page
          <a href="{{return_link}}">click here.</a>
        </p>
      </span>
    </section>
  </body>
</html>
