body {
    margin: 0 auto;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: auto;
}

.container>#navbar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0.25rem;
}

.container>#navbar>a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 0.25rem;
}

.container>#navbar>a>span>p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container>#content {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.tooltip {
    position: absolute;
    background-color: grey;
    visibility: hidden;
    left: 4%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: smaller;
}

.tooltip::after {
    content: "  ";
    top: 50%;
    right: 100%;
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent grey transparent transparent;
}

a:hover .tooltip {
    visibility: visible;
}

.navbar-icons-2 {
    fill: rgb(200, 200, 200);
}

.navbar-icons-2:hover {
    fill: white;
}

.btn {
    width: 7.5rem;
    height: 2.5rem;

    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.25rem;

    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
}

.btn.black {
    background-color: black;
    color: white;
}

.section-w100 {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    height: 100vh;
}

.vw-100 {
    width: 100vh;
}

.p-1 {
    padding: 1rem;
}

form {
    gap: 1rem;
}

form.flex-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0.75rem; */
}

textarea,
input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

textarea {
    box-sizing: border-box;
    padding: 0.5rem;
    border-style: none;
    width: 100%;
    resize: none;
    background-color: #f0f0f0;
}

#sub-container>#update-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-container>#update-task>span#update-options {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
}

#sub-container>#update-task>span#update-options>button {
    margin: 0.25rem;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-direction-rows {
    flex-direction: row;
}

.flex-direction-cols {
    flex-direction: column;
}

.p-2 {
    padding: 2rem;
}

.w-25 {
    width: 25%;
}

.text-l {
    font-size: 36pt;
}

.text-xl {
    font-size: 48pt;
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box-curve {
    border-radius: 5px;
}

.zero-transparent {
    opacity: 0;
}

.full-transparent {
    opacity: 1.0;
}